@import "../../styles/constants.scss";

.quotesWrapper {
  width: 100%;
  background-color: #110f0f;
  background-image: url("../../assets/boy-with-laptop.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 2rem;
  margin-bottom: 0rem;

  .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    color: #fff;

    .left {
      flex: 1;

      .top {
        display: flex;
        align-items: center;
        gap: 1.1rem;

        .line {
          width: 172px;
          height: 2px;
          background-color: #fff;
        }

        p {
          font-size: 18px;
          font-weight: normal;
          text-transform: uppercase;
          line-height: 28px;
        }
      }

      .heading {
        margin-top: 2rem;

        .left {
          p {
            font-size: 40px;
            font-weight: 600;
            margin-bottom: 0px;
            line-height: 55px;

            &:nth-child(2) {
              color: $primary;
            }
          }
        }

        .bottom {
          font-size: 16px;
          font-weight: normal;
          line-height: 26px;
          color: #fff;
          margin-top: 2rem;
          text-align: justify;
        }
      }
    }

    .right {
      flex: 1;
      margin-top: 4.1rem;

      form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        input {
          height: 52px;
          background-color: transparent;
          border: 1px solid #a1aebf;
          border-radius: 10px;
          padding-left: 1rem;
          outline: none;
        }

        textarea {
          background-color: transparent;
          border: 1px solid #a1aebf;
          border-radius: 10px;
          padding-left: 1rem;
          padding-top: 1rem;
          outline: none;
        }

        button {
          width: 179px;
          height: 44px;
          @include flexCenter;
          background-color: transparent;
          color: $primary;
          outline: none;
          border: 1px solid $primary;
          font-size: 16px;
          font-weight: 600;
          gap: 12px;
          border-radius: 10px;
          margin-top: 4px;
          transition: all 0.3s;

          &:hover {
            background-color: $primary;
            color: #fff;
            transition: all 0.3s;
          }
        }
      }
    }
  }

  @media (max-width: 967px) {
    & {
      .content {
        .left {
          .heading {
            .left {
              p {
                font-size: 33px;
                font-weight: 600;
                line-height: 48px;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 822px) {
    & {
      .content {
        .left {
          .heading {
            .left {
              p {
                font-size: 27px;
                font-weight: 600;
                line-height: 40px;
              }
            }

            .bottom {
              font-size: 13px;
              line-height: 22px;
              margin-top: 2rem;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    & {
      .content {
        flex-direction: column;
        padding: 4rem 3rem;
        padding-top: 3.5rem;
        gap: 0rem;

        .left {
          .heading {
            .left {
              p {
                font-size: 30px;
                font-weight: 600;
                line-height: 40px;
              }
            }

            .bottom {
              font-size: 14px;
              line-height: 22px;
            }
          }
        }

        .right {
          margin-top: 3rem;
        }
      }
    }
  }

  @media (max-width: 600px) {
    & {
      .content {
        padding: 5rem 1rem;

        .left {
          .top {
            gap: 0.9rem;

            .line {
              width: 45%;
            }

            p {
              font-size: 14px;
              line-height: 26px;
            }
          }

          .heading {
            .left {
              p {
                font-size: 24px;
                font-weight: 600;
                line-height: 34px;
              }
            }

            .bottom {
              font-size: 14px;
              line-height: 22px;
              margin-top: 1.1rem;
            }
          }
        }

        .right {
          margin-top: 2.5rem;

          form {
            gap: 1.2rem;

            input {
              height: 49px;
            }

            button {
              width: 170px;
              height: 44px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
