@import "../../styles/constants.scss";

.faq {
  width: 100%;
  color: #fff;

  .content {
    width: 100%;

    .top {
      display: flex;
      align-items: center;
      gap: 1.1rem;

      .line {
        width: 172px;
        height: 2px;
        background-color: #fff;
      }

      p {
        font-size: 18px;
        font-weight: normal;
        text-transform: uppercase;
        line-height: 28px;
      }
    }

    .heading {
      margin-top: 2rem;

      .left {
        display: flex;
        align-items: center;
        gap: 1rem;

        p {
          font-size: 40px;
          font-weight: 600;
          margin-bottom: 0px;
          line-height: 55px;

          &:nth-child(2) {
            color: $primary;
          }
        }
      }
    }
  }
}
