@import "../../styles/constants.scss";

.services {
  width: 100%;
  color: #fff;

  .top {
    display: flex;
    align-items: center;
    gap: 1.1rem;

    .line {
      width: 172px;
      height: 2px;
      background-color: #fff;
    }

    p {
      font-size: 18px;
      font-weight: normal;
      text-transform: uppercase;
      line-height: 28px;
    }
  }

  .heading {
    margin-top: 2rem;

    .left {
      display: flex;
      align-items: center;
      gap: 1rem;

      p {
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 0px;
        line-height: 55px;

        &:nth-child(2) {
          color: $primary;
        }
      }
    }
  }

  .cards {
    margin-top: 2.5rem;
    padding: 0 0.5rem;

    .card {
      border: 1px solid #a1aebf;
      height: 290px;
      max-width: 370px;
      border-radius: 8px;
      padding: 1rem 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      transition: all 0.2s;
      margin: 0 12px;

      &:hover {
        background-color: $primary;
        transition: all 0.2s;
      }

      p {
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
      }

      span {
        font-size: 14px;
        font-weight: normal;
        line-height: 22px;
        text-align: center;
        margin-top: 0.5rem;
      }
    }
  }

  @media (max-width: 768px) {
    & {
      padding: 4rem .9rem;

      .top {
        gap: 0.9rem;

        .line {
          width: 45%;
        }

        p {
          font-size: 14px;
          line-height: 26px;
        }
      }

      .heading {
        flex-direction: column;
        align-items: flex-start;
        gap: 2px;
        margin-top: 1.7rem;

        .left {
          gap: .2rem;
          flex-direction: column;
          align-items: flex-start;

          p {
            font-size: 28px;
            line-height: 37px;
          }
        }
      }

      .cards{
        padding: 0;
        width: 100%;
        margin-left: 0;
        margin-right: 0;

        .card{
          margin: 0 12px;
          margin-left: 0;
        }
      }
    }
  }
}
