@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "constants";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  overflow-x: hidden;
  background-color: #060606;
  font-family: "Inter", sans-serif;
}

.App {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  background-color: #060606;
  color: #fff;
  overflow-x: hidden;
}

.imagesGridWrap img{
  border-radius: 10px;
}

// .carouselContainer{
//   overflow: auto !important;
// }

.recentProjects .alice-carousel__stage-item {
  vertical-align: middle;
}

.recentProjects .alice-carousel__prev-btn {
  width: 3rem;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 50%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  position: absolute;
  left: 3%;
  top: 45%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.recentProjects .alice-carousel__next-btn {
  width: 3rem;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 50%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  position: absolute;
  right: 1%;
  top: 45%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.carouselContainer .react-multi-carousel-track {
  gap: 1.5rem;
}

.carouselContainer .carouselDots {
  bottom: -50px;
}

//  .react-multi-carousel-item{
//   margin-top: -4rem !important;
// }

ol,
ul {
  padding: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.innerWidth {
  @media (min-width: $xxl) {
    max-width: 1280px;
    margin: auto;
  }

  width: 100%;
}

.borderBottom {
  border-bottom: 1px solid red !important;
}

.redBorder {
  border: 1px solid red !important;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexEnd {
  display: flex;
  justify-items: end;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// html.has-scroll-smooth {
//   overflow: hidden;
// }

// html.has-scroll-dragging {
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }

// .has-scroll-smooth body {
//   overflow: hidden;
// }

// .has-scroll-smooth [data-scroll-container] {
//   min-height: 100vh;
// }

// [data-scroll-direction="horizontal"] [data-scroll-container] {
//   height: 100vh;
//   display: inline-block;
//   white-space: nowrap;
// }

// [data-scroll-direction="horizontal"] [data-scroll-section] {
//   display: inline-block;
//   vertical-align: top;
//   white-space: nowrap;
//   height: 100%;
// }

// .c-scrollbar {
//   position: absolute;
//   right: 0;
//   top: 0;
//   width: 11px;
//   height: 100%;
//   transform-origin: center right;
//   transition: transform 0.3s, opacity 0.3s;
//   opacity: 0;
// }

//   .c-scrollbar:hover {
//     transform: scaleX(1.45);
// }

//   .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
//     opacity: 1;
// }

// [data-scroll-direction="horizontal"] .c-scrollbar {
//     width: 100%;
//     height: 10px;
//     top: auto;
//     bottom: 0;
//     transform: scaleY(1);
// }

// [data-scroll-direction="horizontal"] .c-scrollbar:hover {
//       transform: scaleY(1.3);
// }

// .c-scrollbar_thumb {
//   position: absolute;
//   top: 0;
//   right: 0;
//   background-color: black;
//   opacity: 0.5;
//   width: 7px;
//   border-radius: 10px;
//   margin: 2px;
//   cursor: -webkit-grab;
//   cursor: grab;
// }
//   .has-scroll-dragging .c-scrollbar_thumb {
//     cursor: -webkit-grabbing;
//     cursor: grabbing;
// }
//   [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
//     right: auto;
//     bottom: 0;
// }

@media (max-width: $md) {
  .recentProjects .alice-carousel__prev-btn {
    width: 2.1rem;
    height: 2.1rem;
    font-size: 1rem;
    left: 3%;
  }

  .recentProjects .alice-carousel__next-btn {
    width: 2.1rem;
    height: 2.1rem;
    font-size: 1rem;
    right: -6%;
  }
}
