@import "../../styles/constants.scss";

.footer {
  position: relative;
  background-color: #110f0f;
  overflow: hidden;

  .shape1 {
    position: absolute;
    top: -30%;
    right: -18%;
    width: 412px;
    height: 412px;
    background: $primary;
    opacity: 1;
    border-radius: 100%;
    filter: blur(320px);
    z-index: 0;
  }
}
