@import "../../styles/constants.scss";

.testimonialWrap {
  width: 100%;
  background-color: #110f0f;
  background-image: url("../../assets/three-stars.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

  .content {
    width: 100%;

    .top {
      display: flex;
      align-items: center;
      gap: 1.1rem;

      .line {
        width: 172px;
        height: 2px;
        background-color: #fff;
      }

      p {
        font-size: 18px;
        font-weight: normal;
        text-transform: uppercase;
        line-height: 28px;
      }
    }

    .heading {
      margin-top: 2rem;

      .left {
        display: flex;
        align-items: center;
        gap: 1rem;

        p {
          font-size: 40px;
          font-weight: 600;
          margin-bottom: 0px;
          line-height: 55px;

          &:nth-child(2) {
            color: $primary;
          }
        }
      }
    }

    .cards {
      margin-top: 2.5rem;
      padding: 0 0.5rem;

      .card {
        border: 1px solid #a1aebf;
        height: 494px;
        max-width: 364px;
        border-radius: 8px;
        padding: 1.5rem 2.5rem;
        padding-top: 4rem;
        display: flex;
        flex-direction: column;
        margin: 0 10px;

        .review {
          font-size: 18px;
          font-weight: 400;
          color: rgba($color: #fff, $alpha: 0.8);
          line-height: 24px;
          letter-spacing: -2%;
          text-align: justify;
        }

        .stars {
          display: flex;
          align-items: center;
          gap: 4px;
          margin-top: 1.5rem;

          svg {
            color: #b8c70b;
            font-size: 15px;
          }
        }

        .line {
          height: 2px;
          width: 100%;
          background-color: #a1aebf;
          border-radius: 2rem;
          margin-top: 3rem;
        }

        .user {
          display: flex;
          gap: 12px;
          margin-top: 2rem;

          .name {
            display: flex;
            flex-direction: column;
            gap: 7px;

            p {
              font-size: 16px;
              font-weight: 500;
            }

            span {
              font-size: 12px;
              font-weight: 300;
              color: rgba($color: #fff, $alpha: 0.8);
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    & {
      padding: 4rem 0.9rem;

      .content {
        .top {
          gap: 0.9rem;

          .line {
            width: 45%;
          }

          p {
            font-size: 14px;
            line-height: 26px;
          }
        }

        .heading {
          flex-direction: column;
          align-items: flex-start;
          gap: 2px;
          margin-top: 1.7rem;

          .left {
            gap: 0.24rem;

            p {
              font-size: 24px;
              line-height: 35px;
            }
          }
        }

        .cards {
          margin-top: 3rem;

          .card {
            height: auto;
            max-width: 364px;
            border-radius: 10px;
            padding: 2rem 1.9rem;
            padding-top: 2.3rem;
            margin: 0 8px;
            margin-left: 0;

            .review {
              font-size: 15px;
              line-height: 23px;
              text-align: left;
            }

            .line {
              margin-top: 2rem;
            }
          }
        }
      }
    }
  }
}
