@import "../../styles/constants.scss";

.testimonialWrap {
  width: 100%;
  background-color: #110F0F;
  background-image: url("../../assets/three-stars.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

  .content {
    width: 100%;

    .top {
      display: flex;
      align-items: center;
      gap: 1.1rem;

      .line {
        width: 172px;
        height: 2px;
        background-color: #fff;
      }

      p {
        font-size: 18px;
        font-weight: normal;
        text-transform: uppercase;
        line-height: 28px;
      }
    }

    .heading {
      margin-top: 2rem;

      .left {
        display: flex;
        align-items: center;
        gap: 1rem;

        p {
          font-size: 40px;
          font-weight: 600;
          margin-bottom: 0px;
          line-height: 55px;

          &:nth-child(2) {
            color: $primary;
          }
        }
      }
    }

    .cards{
    margin-top: 2.5rem;
    padding: 0 .5rem;

    .card{
        border: 1px solid #A1AEBF;
        height: 494px;
        max-width: 364px;
        border-radius: 8px;
        padding: 1.5rem 2.5rem;
        padding-top: 4rem;
        display: flex;
        flex-direction: column;

        .review{
            font-size: 18px;
            font-weight: 400;
            color: rgba($color: #fff, $alpha: 0.8);
            line-height: 24px;
            letter-spacing: -2%;
            text-align: justify;
        }

        .stars{
            display: flex;
            align-items: center;
            gap: 4px;
            margin-top: 1.5rem;

            svg{
                color: #B8C70B;
                font-size: 15px;
            }
        }

        .line{
            height: 2px;
            width: 100%;
            background-color: #A1AEBF;
            border-radius: 2rem;
            margin-top: 3rem;
        }

        .user{
            display: flex;
            gap: 12px;
            margin-top: 2rem;

            .name{
                display: flex;
                flex-direction: column;
                gap: 7px;

                p{
                    font-size: 16px;
                    font-weight: 500;
                }

                span{
                    font-size: 12px;
                    font-weight: 300;
                    color: rgba($color: #fff, $alpha: 0.8);
                }
            }
        }
    }
  }
  }
}
